@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-3xl font-extrabold md:text-4xl lg:text-5xl;
  }

  h2 {
    @apply text-2xl  font-semibold md:text-3xl lg:text-4xl;
  }

  h3 {
    @apply text-xl  font-semibold md:text-2xl lg:text-3xl;
  }

  h4 {
    @apply text-lg  font-semibold md:text-xl;
  }

  p {
    @apply leading-relaxed  text-base lg:text-lg lg:leading-loose;
  }
}

html {
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-barlowCondensed);
}

.parent-container {
}

.big-container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.narrow-container {
  margin-inline: auto;
  width: min(80%, 55.5rem);
}

.block-space {
  padding-block: min(10vh, 15rem);
}

.parent-container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}
